body{

    background-image: url(background-test.jpg);
    background-size: contain;
}


#Cabeçalho {
    background-color: #4e4d50; 
    padding: 10px; /* Espaçamento interno do cabeçalho */
  }
  


main {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #fdfdfd;
    line-height: 1.6;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -200px;
    height: -200px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.center-card-Z {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}

.card {
    width: 600px;
    height: 400px;
    border: 2px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 10%;
    object-fit: cover;
}

/* Estilos para o rodapé */
#Rodapé {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center; /* Alinhamento do texto no centro */
    padding: 20px 0; /* Espaçamento interno do rodapé */
  }
  
  /* Estilos para o link no rodapé */
  #Rodapé a {
    text-decoration: none; /* Remove sublinhado do link */
    color: #ff0000; /* Cor do link */
  }
  
  #Rodapé a:hover {
    color: #fff; /* Cor do link ao passar o mouse por cima */
  }
  